[submodule "submodules/sqlite"]
	path = submodules/sqlite
	url = https://github.com/sqlite/sqlite
[submodule "submodules/yxml"]
	path = submodules/yxml
	url = https://g.blicky.net/yxml.git/
[submodule "submodules/termbox-truecolor"]
	path = submodules/termbox-truecolor
	url = https://github.com/amirouche/termbox-truecolor
[submodule "upstream/wiredtiger"]
	path = submodules/wiredtiger
	url = https://github.com/wiredtiger/wiredtiger
[submodule "submodules/mbed-crypto"]
	path = submodules/mbed-crypto
	url = https://github.com/ARMmbed/mbed-crypto
[submodule "submodules/--branch"]
	path = submodules/--branch
	url = https://github.com/jedisct1/libsodium
[submodule "submodules/libsodium"]
	path = submodules/libsodium
	url = https://github.com/jedisct1/libsodium
